{% extends "base.html" %}
{% load static %}

{% block content %}
<!-- Banner Section -->
<div id="banner-image">
    <div class="container h-100 w-75">
        <div class="row h-100 align-items-center">
            <div class="col-12 text-center text-white banner-card">
                <h1 class="fw-light mt-3 mb-3">Welcome to Dandy Flaneur!</h1>
                <a href="{% url 'store' %}" class="btn btn-lg btn-dark border border-white rounded-0 mb-3">Explore Our Art</a>
            </div>
        </div>
    </div>
</div>

<!-- Content Divider -->
<div class="divider"></div>

<!-- Content Introduction Cards -->
<div class="container">
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-3 ms-4">
        <div class="col">
            <div class="card rounded-0 border-dark" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title text-center">Our Blog</h5>
                    <p class="card-text">Have a look at our blog to learn about many interesting topics about arts and
                        crafts. Be sure to have a look and feel free to leave a comment!</p>
                    <hr>
                    <div class="text-center">
                        <a href="{% url 'blog_list' %}" class="btn btn-dark border dandy-border rounded-0 mb-3">Blog</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card rounded-0 border-dark" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title text-center">Store</h5>
                    <p class="card-text">At Dandy Flaneur we believe in taking an active part in the creation of art.
                        Explore our store to find unique creations and celebrate artistry with us!</p>
                    <hr>
                    <div class="text-center">
                        <a href="{% url 'store' %}" class="btn btn-dark border dandy-border rounded-0 mb-3">Store</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card rounded-0 border-dark" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title text-center">Connect With Us</h5>
                    <p class="card-text">We are dedicated to build a community around painting. Many of our local
                        artists are dedicated to establish a career around this craft.</p>
                    <hr>
                    <div class="text-center">
                        <a href="{% url 'contact' %}" class="btn btn-dark border dandy-border rounded-0 mb-3">Contact Us</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Content Divider -->
<div class="divider"></div>

{% endblock %}