{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'store/css/store.css' %}">
{% endblock %}


{% block content %}
<!-- Content Divider -->
<div class="divider"></div>

<div class="text-center">
    <p class="display-4">Our Products</p>
    <hr>
</div>
<div>
    <div class="overlay"></div>
    <div class="container-fluid">
        <div class="row">
            <h3 class="text-center">~ Categories ~</h4>
                <div class="col text-center mt-2">
                    {% for c in all_categories %}
                    <a href="{% url 'store' %}?category={{ c.name }}" class="category-badge"><span
                            class="p-2 m-2 badge badge-white text-black rounded-0 border-bottom border-dark">{{ c.friendly_name }}</span></a>
                    {% endfor %}
                    <a href="{% url 'store' %}" class="category-badge"><span
                            class="p-2 m-2 badge badge-black bg-dark text-white text-black rounded-0 border border-dark">Reset</span></a>
                </div>
        </div>
        <div class="row">
            <div class="product-container col-10 offset-1">
                <div class="row mt-1 mb-2">
                    <div class="col-12 col-md-3 my-auto order-md-first d-flex justify-content-center justify-content-md-end">
                        <div class="sort-select-wrapper w-100">
                            <select id="sort-selector"
                                class="w-100 custom-select custom-select-sm rounded-0 border-1 border-{% if current_sort != 'None_None' %}warning{% else %}2 border-black{% endif %}">
                                <option value="reset" {% if current_sort == 'None_None' %}selected{% endif %}>Sort
                                    by...</option>
                                <option value="price_asc" {% if current_sort == 'price_asc' %}selected{% endif %}>
                                    Price (low to high)</option>
                                <option value="price_desc" {% if current_sort == 'price_desc' %}selected{% endif %}>
                                    Price (high to low)</option>
                                <option value="rating_asc" {% if current_sort == 'rating_asc' %}selected{% endif %}>
                                    Rating (low to high)</option>
                                <option value="rating_desc"
                                    {% if current_sort == 'rating_desc' %}selected{% endif %}>Rating (high to low)
                                </option>
                                <option value="name_asc" {% if current_sort == 'name_asc' %}selected{% endif %}>Name
                                    (A-Z)</option>
                                <option value="name_desc" {% if current_sort == 'name_desc' %}selected{% endif %}>
                                    Name (Z-A)</option>
                                <option value="category_asc"
                                    {% if current_sort == 'category_asc' %}selected{% endif %}>Category (A-Z)
                                </option>
                                <option value="category_desc"
                                    {% if current_sort == 'category_desc' %}selected{% endif %}>Category (Z-A)
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="col-12 col-md-9 order-md-last">
                        <p class="mt-3 text-end text-md-right dandy-black text-xs-center text-sm-center text-md-end text-lg-end">
                            {% if search_term or current_categories or current_sort != 'None_None' %}
                            <span class="small"><a href="{% url 'store' %}" class="dandy-bg-alt dandy-black p-1">Reset</a> | </span>
                            {% endif %}
                            {{ products|length }} Products{% if search_term %} found for
                            <strong>"{{ search_term }}"</strong>{% endif %}
                        </p>
                    </div>
                </div>
                <div class="row">
                    {% for product in products %}
                    <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
                        <div class="card h-25 border-0 store-item">
                            {% if product.image %}
                            <a href="{% url 'store_detail' product.id %}">
                                <img class="card-img-top img-fluid" src="{{ product.image.url }}"
                                    alt="{{ product.name }}">
                            </a>
                            {% else %}
                            <a href="#">
                                <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png"
                                    alt="{{ product.name }}">
                            </a>
                            {% endif %}
                            <div class="card-body pb-0">
                                <p class="mb-0">{{ product.name }}</p>
                            </div>
                            <div class="card-footer bg-white pt-0 border-0 text-left">
                                <div class="row">
                                    <div class="col">
                                        <p class="lead mb-0 text-left font-weight-bold">${{ product.price }}</p>
                                        {% if product.category %}
                                        <p class="small mt-1 mb-0">
                                            <a href="{% url 'store' %}?category={{ product.category.name }}"
                                                class="text-muted"><i class="fas fa-tag mr-1"></i>
                                                {{ product.category.friendly_name }}
                                            </a>
                                        </p>
                                        {% endif %}
                                        {% if product.rating %}
                                        <small class="text-muted"><i class="fas fa-star mr-1 text-warning"></i>
                                            {{ product.rating }}
                                            /
                                            5</small>
                                        {% else %}
                                        <small class="text-muted">No Rating</small>
                                        {% endif %}

                                        <div class="col">
                                            <a class="btn mt-3 rounded-0" href="{% url 'store_detail' product.id %}" id="navbar-primary">View</a>
                                        </div>
                                        {% if request.user.is_superuser %}
                                        <div class="col">
                                            <div class="w-100">
                                                <small class="w-0 border p-1 mt-1 float-end dandy-bg-alt">
                                                    <a href="{% url 'edit_store' product.id %}" class="dandy-black">Edit <i class="fa-solid fa-fill-drip fa-flip" style="--fa-animation-iteration-count: 1;"></i></a>
                                                    |
                                                    <a href="{% url 'delete_store' product.id %}" class="dandy-black">Delete <i class="fa-solid fa-paintbrush fa-flip" style="--fa-animation-iteration-count: 1;"></i></a>
                                                </small>
                                            </div>
                                        </div>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    {% if forloop.counter|divisibleby:1 %}
                    <div class="col-12 d-sm-none mb-5">
                        <hr>
                    </div>
                    {% endif %}

                    {% if forloop.counter|divisibleby:2 %}
                    <div class="col-12 d-none d-sm-block d-md-block d-lg-none">
                        <hr>
                    </div>
                    {% endif %}

                    {% if forloop.counter|divisibleby:3 %}
                    <div class="col-12 d-none d-lg-block d-xl-none">
                        <hr>
                    </div>
                    {% endif %}

                    {% if forloop.counter|divisibleby:4 %}
                    <div class="col-12 d-none d-xl-block">
                        <hr>
                    </div>
                    {% endif %}

                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>

{% block pagination %}
{% include 'blog/pagination.html' %}
{% endblock %}

{% endblock %}

{% block postloadjs %}
{{ block.super }}
<script type="text/javascript">
    // Allows directional content sorting and sort reset.
    $('#sort-selector').change(function () {
        var selector = $(this);
        var currentUrl = new URL(window.location);

        var selectedVal = selector.val();
        if (selectedVal != "reset") {
            var sort = selectedVal.split("_")[0];
            var direction = selectedVal.split("_")[1];

            currentUrl.searchParams.set("sort", sort);
            currentUrl.searchParams.set("direction", direction);

            window.location.replace(currentUrl);
        } else {
            currentUrl.searchParams.delete("sort");
            currentUrl.searchParams.delete("direction");

            window.location.replace(currentUrl);
        }
    })
</script>
{% endblock %}