/* GLOBAL SETTINGS */

html {
    height: 100%;
}

a {
    text-decoration: none !important;
}

.text-override {
    text-align: justify !important;
}

.footer-link:hover {
    border: 2px solid #FAF9F6;
  }

  #newletter-email:hover {
    border-bottom: 3px solid #FFD700
  }


/* ANIMATIONS */
@keyframes navButtonAnimation {
    100% {
        transform: scale(1.2);
    }
}


/* BASE.HTML */

.dandy-bg {
    background-color: #1B1212;
}

.dandy-bg-alt {
    background-color: #FFD700;
}

.dandy-border {
    border-top: 3px solid #FFD700
}

#navbar-primary {
    background-color: #1B1212;
    border: 2px solid #FFD700;
    color: #FAF9F6;
}

#navbar-secondary {
    background-color: #FAF9F6;
    border: 2px solid #1B1212;
    color: #1B1212;
}

#navbar-primary.active,
#navbar-secondary.active {
    animation-name: navButtonAnimation;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
}

.border-bottom-dark,
.border-top-dark {
    border-color: #1B1212 !important;
}

/* MEDIA QUERIES */

@media (max-width: 975px) {
    #navbar-primary,
    #navbar-secondary {
        float: inline-start !important;
        margin: 2px 2px !important;
    }
}
