/* GLOBAL SETTINGS */

html {
    height: 100%;
}

:root {
    --dandy-white: #FAF9F6;
    --dandy-black: #1B1212;
    --dandy-black-faded: #1b121299;
    --dandy-gold: #FFD700;
}

a {
    text-decoration: none !important;
}

.text-override {
    text-align: justify !important;
}

.footer-link:hover {
    border: 2px solid var(--dandy-white);
  }

  #newletter-email:hover {
    border-bottom: 3px solid var(--dandy-gold);
  }

.divider {
    margin-top: 4rem;
    margin-bottom: 4rem;
}


/* ANIMATIONS */
@keyframes navButtonAnimation {
    100% {
        transform: scale(1.2);
    }
}


/* BASE.HTML */

.dandy-bg {
    background-color: var(--dandy-black);
}

.dandy-bg-alt {
    background-color: var(--dandy-gold);
}

.dandy-border {
    border-top: 2px solid var(--dandy-gold) !important;
}

#navbar-primary {
    background-color: var(--dandy-black);
    border: 2px solid var(--dandy-gold);
    color: var(--dandy-white);
}

#navbar-secondary {
    background-color: var(--dandy-white);
    border: 2px solid var(--dandy-black);
    color: var(--dandy-black);
}

#navbar-primary.active,
#navbar-secondary.active,
.dandy-border:active {
    animation-name: navButtonAnimation;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
}

#navbar-primary:hover {
    border: 2px dashed var(--dandy-black) ;
}

#navbar-secondary:hover {
    border: 2px dashed var(--dandy-black) ;
}

.border-bottom-dark,
.border-top-dark {
    border-color: var(--dandy-black) !important;
}

/* INDEX.HTML */

#banner-image {
    height: 50vh;
    min-height: 500px;
    background-image: url('/media/banner-image1.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 16px;
    border: 2px 2px solid var(--dandy-black);
  }

.banner-card {
    background-color: var(--dandy-black-faded);
    z-index: 99999;
    border: 1px solid var(--dandy-white)
}

/* MEDIA QUERIES */

@media (max-width: 975px) {
    #navbar-primary,
    #navbar-secondary {
        float: inline-start !important;
        margin: 2px 2px !important;
    }
}

@media (min-width: 1200px) {
    .ms-4 {
        margin-left: 4.5rem !important;
    }
}
