{% extends 'base.html' %}
{% load static %}


{% block content %}
<div class="container">
  <div class="row h-100">
    <div class="col col-lg-6 col-md-8 col-sm-12 m-auto text-center p-3">
      <div class="card border-0">
        <img src="{% static 'img/404-error.png' %}" class="card-img-top" alt="Dandy Flaneur 404 page image">
        <div class="card-body">
          <h1 class="card-title logo-font text-yellow">Looks like you got lost. Let's get you back home!</h1>
          <h4 class="pt-3">
            <a class="btn-outline-black btn-lg text-uppercase py-3" href="{% url 'home' %}" role="button">Return Home</a>
          </h4>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}