{% extends 'base.html' %}
{% load static %}


{% block content %}
<div class="container">
  <div class="row h-100">
    <div class="col col-lg-6 col-md-8 col-sm-12 m-auto text-center p-3">
      <div class="card border-0">
        <img src="{% static 'img/500-error.png' %}" class="card-img-top" alt="Dandy Flaneur 404 page image">
        <div class="card-body">
          <h1 class="card-title logo-font text-yellow">Oops! That wasn't supposed to happen. Something went wrong on our side.</h1>
          <h4 class="pt-3">
            <a class="btn dandy-border-alt rounded-0 text-uppercase py-3" href="{% url 'home' %}" role="button">Return Home</a>
          </h4>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}