{% block blog_delete %}

<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content rounded-0 dandy-border-alt">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Delete Post By <span
                        class="dandy-gold">{{ post.author }}</span></h1>
                <button type="button" class="btn-close  btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <h4>
                    Are you sure you want to <strong class="text-italic dandy-gold">delete</strong> this blog post?
                </h4>
                    <p class="fst-italic">
                        <i class="fa-solid fa-triangle-exclamation fa-fade"></i> Warning: Once deleted, you <strong class="dandy-gold">cannot</strong> retrieve this content.
                    </p>
            </div>
            <div class="modal-footer">
                <form action="{% url 'blog_delete' post.slug %}" method="POST">
                    {% csrf_token %}
                    <button type="button" class="btn btn-outline-light text-black rounded-0" data-bs-dismiss="modal">No, go
                        back</button>
                    <button type="submit" class="btn btn-outline-danger rounded-0">Yes, delete</button>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock blog_delete %}