{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}

<!-- Content Divider -->
<div class="divider"></div>

<h1 class="mt-2 text-center">Edit Comment</h1>

<div class="text-center">
   <form action="{% url 'comment_edit' comment_id=comment.id %}" method="POST">
      {% csrf_token %}
      {{ comment_form.as_p }}
   <button class="btn rounded-0 mx-2 dandy-border-alt" type="submit">Submit
         Changes</button>
   </form>
</div>  

<!-- Content Divider -->
<div class="divider"></div>

{% endblock %}