<div class="toast rounded-0 border-2 border-warning" role="alert" aria-live="assertive" aria-atomic="true" data-bs-autohide="false">
    <div class="toast-header">
      <span class="me-1 text-warning"><i class="fa-regular fa-circle-question"></i></span>
      <strong class="me-auto">Warning</strong>
      <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="toast-body fw-bold">
        {{ message }}
    </div>
  </div>